{% extends 'base.html' %}
{% block title%} home{%endblock title %}
{% block body%}
<div class = "container fluid my-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src ="/static/images/pic3.jpg" width="600" height="600" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/pic2.jpg" width="600" height="600" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/pic1.jpg" width="600" height="600" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-5">
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\new images\normal-people-reunion-season-2.jpg" width="200" height="200" class="d-block w-100" alt="...">

      <div class="card-body">
        <p class="card-text">Following Marianne and Connell, from different backgrounds but the same small town in Ireland, as they weave in and out of each other's romantic lives and start to grow up. </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          <a href="/blog">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          </a>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/images/pic8.jpg" width="200" height="200" class="d-block w-100" alt="...">

      <div class="card-body">
        <p class="card-text">A political consultant tries to explain his impending divorce and past relationships to his 11-year-old daughter. He discuss his life before marriage and past relationships    </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          <a href = "/blog2">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          </a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/images/pic5.jpg" width="200" height="200" class="d-block w-100" alt="...">

      <div class="card-body">
        <p class="card-text">Jamie Randall, a pharmaceutical sales representative and a womaniser, finds love in Maggie, a young woman who suffers from early-onset Parkinson's disease, just as his career begins to skyrocket.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/images/pic6.jpg" width="200" height="200" class="d-block w-100" alt="...">

      <div class="card-body">
        <p class="card-text">When Sebastian, a pianist, and Mia, an actress, follow their passion and achieve success in their respective fields, they find themselves torn between their love for each other and their careers.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/images/pic7.jpg" width="200" height="200" class="d-block w-100" alt="...">

      <div class="card-body">
        <p class="card-text">Tom revisits the approximate one year he shared with Summer, the girl he thought he could spend the rest of his life with. She, on the other hand, does not believe in relationships or boyfriends.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/images/pic9.jpg" width="200" height="200" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">Cal, a middle-aged man, is heartbroken when his wife asks for a divorce. However, to get over his loss, he starts picking up women at a bar on the insistence of his new-found friend, Jacob.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>


{%endblock body%}